<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customer Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Customer Page</h1>
        <ul>
            <li><a href="{{ url_for('add_suggestion') }}">Suggest a Flavor</a></li>
            <li><a href="{{ url_for('add_allergy') }}">Report an Allergy</a></li>
        </ul>
        <a class="back-link" href="{{ url_for('index') }}">Back to Main Page</a>
    </div>
</body>
</html>
